/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
header {
    width: 100%;
    background: #0d1117;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.navbar {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #58a6ff;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #c9d1d9;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #58a6ff;
}

/* Secciones */
.section {
    padding-top: 120px; /* espacio para navbar fija */
    text-align: center;
    color: #333;
    font-family: Arial, sans-serif;
}
